<div id="<%= dom_id treatment_plan_exercise %>">
  <p>
    <strong>Treatment plan:</strong>
    <%= treatment_plan_exercise.treatment_plan_id %>
  </p>

  <p>
    <strong>Exercise:</strong>
    <%= treatment_plan_exercise.exercise_id %>
  </p>

  <p>
    <strong>Sets:</strong>
    <%= treatment_plan_exercise.sets %>
  </p>

  <p>
    <strong>Reps:</strong>
    <%= treatment_plan_exercise.reps %>
  </p>

  <p>
    <strong>Instructions:</strong>
    <%= treatment_plan_exercise.instructions %>
  </p>

</div>
