<p style="color: green"><%= notice %></p>

<%= render @appointment %>

<div>
  <%= link_to "Edit this appointment", edit_patient_appointment_path(@appointment.patient, @appointment) %> |
  <%= link_to "Back to appointments", patient_appointments_path(@appointment.patient) %>

  <%= button_to "Destroy this appointment", patient_appointment_path(@appointment.patient, @appointment), method: :delete, data: { confirm: "Are you sure?" } %>
</div>
